.query {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  width: 120px;
}

.elapsedTime,
.indexer {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  width: 150px;
}

.categories,
.source,
.date,
.releaseGroup {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  width: 110px;
}

.details {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  width: 70px;
}

.parametersContent {
  display: flex;
  flex-wrap: wrap;
}
