.cell {
  composes: cell from '~Components/Table/Cells/VirtualTableRowCell.css';

  display: flex;
  align-items: center;
}

.status {
  composes: cell;

  flex: 0 0 60px;
}

.sortName {
  composes: cell;

  flex: 4 0 110px;
}

.priority,
.protocol,
.privacy {
  composes: cell;

  flex: 0 0 90px;
}

.appProfileId {
  composes: cell;

  flex: 1 0 125px;
}

.capabilities {
  composes: cell;

  flex: 0 0 350px;
}

.added {
  composes: cell;

  flex: 0 0 100px;
}

.tags {
  composes: cell;

  flex: 1 0 60px;
}

.actions {
  composes: cell;

  flex: 0 1 90px;
  min-width: 90px;
}

.checkInput {
  composes: input from '~Components/Form/CheckInput.css';

  margin-top: 0;
}

.externalLink {
  composes: link from '~Components/Link/Link.css';

  color: $textColor;
}
