.status {
  composes: headerCell from '~Components/Table/VirtualTableHeaderCell.css';

  flex: 0 0 60px;
}

.id {
  composes: headerCell from '~Components/Table/VirtualTableHeaderCell.css';

  flex: 0 0 60px;
}

.sortName {
  composes: headerCell from '~Components/Table/VirtualTableHeaderCell.css';

  flex: 4 0 110px;
}

.priority,
.privacy,
.protocol,
.minimumSeeders,
.seedRatio,
.seedTime,
.packSeedTime {
  composes: headerCell from '~Components/Table/VirtualTableHeaderCell.css';

  flex: 0 0 90px;
}

.appProfileId {
  composes: headerCell from '~Components/Table/VirtualTableHeaderCell.css';

  flex: 1 0 125px;
}

.capabilities {
  composes: headerCell from '~Components/Table/VirtualTableHeaderCell.css';

  flex: 0 0 350px;
}

.added,
.vipExpiration {
  composes: headerCell from '~Components/Table/VirtualTableHeaderCell.css';

  flex: 0 0 125px;
}

.tags {
  composes: headerCell from '~Components/Table/VirtualTableHeaderCell.css';

  flex: 1 0 60px;
}

.actions {
  composes: headerCell from '~Components/Table/VirtualTableHeaderCell.css';

  flex: 0 1 90px;
}
