.description {
  composes: description from '~Components/DescriptionList/DescriptionListItemDescription.css';

  overflow-wrap: break-word;
}

.deleteButton {
  composes: button from '~Components/Link/Button.css';

  margin-right: auto;
}
