.indexers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.modalBody {
  composes: modalBody from '~Components/Modal/ModalBody.css';

  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.filterInput {
  composes: input from '~Components/Form/TextInput.css';

  flex: 0 0 auto;
  margin-bottom: 16px;
}

.alert {
  composes: alert from '~Components/Alert.css';

  margin-bottom: 20px;
}

.scroller {
  flex: 1 1 auto;
}

.filterRow {
  display: flex;
  margin-bottom: 20px;
}

.filterContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1;
  margin-right: 12px;
}

.filterContainer:last-child {
  margin-right: 0;
}

.filterLabel {
  font-weight: bold;
  margin-bottom: 3px;
}

@media only screen and (max-width: $breakpointSmall) {
  .filterRow {
    flex-direction: column;
  }

  .filterContainer {
    margin-right: 0;
    margin-bottom: 12px;
  }

  .scroller {
    margin-left: -30px;
    margin-right: -30px;
    margin-bottom: -30px;
  }
}
