.indexers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.modalBody {
  composes: modalBody from '~Components/Modal/ModalBody.css';

  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.filterInput {
  composes: input from '~Components/Form/TextInput.css';

  flex: 0 0 auto;
  margin-bottom: 16px;
}

.alert {
  composes: alert from '~Components/Alert.css';

  margin-bottom: 20px;
}

.scroller {
  flex: 1 1 auto;
}

.filterRow {
  display: flex;
  margin-bottom: 20px;
}

.filterContainer {
  display: flex;
  align-items: stretch;
  flex: 1;
  flex-direction: column;
  margin-right: 12px;
}

.filterContainer:last-child {
  margin-right: 0;
}

.filterLabel {
  margin-bottom: 3px;
  font-weight: bold;
}

@media only screen and (max-width: $breakpointSmall) {
  .filterInput {
    margin-bottom: 5px;
  }

  .alert {
    display: none;
  }

  .filterRow {
    display: block;
    margin-bottom: 10px;
  }

  .filterContainer {
    margin-right: 0;
    margin-bottom: 5px;
  }

  .scroller {
    margin-right: -30px;
    margin-bottom: -30px;
    margin-left: -30px;
  }
}

@media only screen and (min-width: $breakpointSmall) {
  .filterContainer {
    max-width: 50%;
  }
}

.modalFooter {
  composes: modalFooter from '~Components/Modal/ModalFooter.css';

  justify-content: space-between;
}

.available {
  font-weight: bold;
}

@media only screen and (max-width: $breakpointExtraSmall) {
  .modalFooter {
    flex-direction: column;
    gap: 10px;
  }

  .available {
    display: none;
  }
}
