.filterIndexers {
  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;
}

.protocol {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  width: 12%;
}

.name {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  width: 52%;
}

.language {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  width: 18%;
}

.privacy {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  width: 18%;
}
