.cell {
  composes: cell from '~Components/Table/Cells/VirtualTableRowCell.css';

  display: flex;
  align-items: center;
}

.protocol {
  composes: cell;

  flex: 0 0 90px;
}

.title {
  composes: cell;

  flex: 4 0 110px;
}

.indexer,
.category {
  composes: cell;

  flex: 0 0 130px;
}

.age,
.size,
.files,
.grabs,
.peers {
  composes: cell;

  flex: 0 0 75px;
}

.indexerFlags {
  composes: cell;

  flex: 0 0 50px;
}

.actions {
  composes: cell;

  flex: 0 1 90px;
  min-width: 90px;
}

.checkInput {
  composes: input from '~Components/Form/CheckInput.css';

  margin-top: 0;
}

.downloadLink {
  composes: link from '~Components/Link/Link.css';

  margin: 0 2px;
  width: 22px;
  color: var(--textColor);
}

.externalLinks {
  margin: 0 2px;
  width: 22px;
  text-align: center;
}
